<button class="btn btn-success">teste</button>
<button onclick="window.location.href='/admin/categorias'">Ir para Categorias</button>

<button onclick="window.location.href='/admin/postagens'">Ir para Postagens</button>
