<div class="notification mt-4">
    <div class="notiglow"></div>
    <div class="notiborderglow"></div>
    <div class="notititle"></div>
    <div class="notibody">
        <h1 class="text-white">{{postagens.titulo}}</h1>
        <hr>
        <small class="text-white">Data da publicação: {{postagens.data}}</small>
        <p class="text-white">{{postagens.conteudo}}</p>
    </div>
  </div>